.container
    display: flex
    flex-direction: column
    background: #f5f5f5 // светлая тема по умолчанию
    gap: 20px
    align-items: center
    overflow-y: hidden
    height: calc(100vh - 240px)
    transition: background 0.3s ease, color 0.3s ease

    &.dark
        background: #121212 // темный фон
        color: #ffffff // светлый текст
        .profileWrapper
            background: #1a1a1a
            .profileContainer
                background: #1e1e1e
                transition: background 0.3s ease
        .company
            background: #1e1e1e
            box-shadow: 0 0 55px -20px rgba(0, 0, 0, 0.3)
        .geoToggle
            background: #1e1e1e
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
        .otherBlock
            background: #1e1e1e
            .divider
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 100%)
            .other
                p
                    color: #ffffff
        .companyBottom
            .companyBottomButton
                background: #356dbb
                &:hover
                    background: #25549b
                .plusik
                    background: rgba(255, 255, 255, 0.15)

.profileWrapper
    overflow: hidden
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    background: #053576
    padding: 20px 5px
    position: relative
    .profileRating
        position: absolute
        display: flex
        align-items: center
        justify-content: center
        gap: 4px
        top: 5%
        right: 10%
        background: #d97536
        border-radius: 21px
        padding: 4px 6px
        width: 49px
        height: 20px
        p
            margin: 0
            font-family: "Inter", sans-serif
            font-weight: 500
            font-size: 14px
            line-height: 96%
            letter-spacing: -0.02em
            text-align: center
            color: #fff

    .profileContainer
        width: 90%
        color: #ffffff
        border-radius: 15px
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 100%)
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: center
        gap: 10px
        padding: 10px
        transition: background 0.3s ease, color 0.3s ease
        overflow: hidden

        .dark &  // для темной темы, если контейнер находится внутри .dark
            background: #1e1e1e

.paymentContainer
    width: 90%
    border-radius: 15px
    background: #ffffff
    display: flex
    flex-direction: column
    transition: background 0.3s ease

    .dark &  // для темной темы, если контейнер находится внутри .dark
        background: #1e1e1e

    .str
        color: #dadada
    .stars
        display: flex

    hr
        width: 82%
        color: #e3e3e3
        align-items: flex-end
        margin-left: auto
        display: block

.premium
    gap: 150px
    padding: 10px
    margin-left: 10px
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row

.desc
    display: flex
    flex-direction: column

.geoToggle
    display: flex
    justify-content: space-between
    align-items: center
    background: white
    border-radius: 16px
    padding: 30px 16px
    width: 90%
    margin: 0 auto
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05)
    transition: background 0.3s ease, box-shadow 0.3s ease

    .geoToggleLeft
        display: flex
        align-items: center
        gap: 10px

    .geoToggleIcon
        width: 20px
        height: 20px
        color: #2563eb

    .geoToggleLabel
        font-size: 16px
        color: #1f2937
        transition: color 0.3s ease

    .geoToggleSwitch
        width: 40px
        height: 24px
        background: #a3a3a3
        border-radius: 9999px
        display: flex
        align-items: center
        padding: 2px
        transition: background 0.3s ease, left 0.3s ease

    .geoToggleThumb
        width: 18px
        height: 18px
        background: white
        border-radius: 50%
        transition: transform 0.3s ease, left 0.3s ease

.geoToggleSwitch
    width: 42px
    height: 22px
    background-color: #ccc
    border-radius: 12px
    position: relative
    transition: background-color 0.3s
    cursor: pointer

.geoToggleSwitch.enabled
    background-color: #2563eb

.geoToggleThumb
    width: 18px
    height: 18px
    background-color: white
    border-radius: 50%
    position: absolute
    top: 2px
    left: 2px
    transition: left 0.3s ease

.geoToggleSwitch.enabled .geoToggleThumb
    left: 22px

.iconText
    display: flex
    flex-direction: row
    gap: 20px
    align-items: center

.support
    gap: 20px
    padding: 10px
    margin-left: 10px
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    &:hover
        background: #dbdbdb

.iconText
    display: flex
    flex-direction: row
    gap: 20px

.title
    font-weight: 500
    margin-left: 30px
    font-size: 24px

.rating
    display: flex
    justify-content: flex-start
    gap: 5px
    align-items: center
    .ratingNum
        font-size: 12px
        margin: 0

hr
    width: 100%
    color: #e3e3e3
    align-items: flex-end
    margin-left: auto
    display: block

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.6) // Затемнение фона
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000

.editorContainer
    background: rgba(0, 0, 0, 0)
    padding: 10px
    border-radius: 12px
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    width: 300px

.divAvatar
    background: rgba(0, 0, 0, 0)
    margin-bottom: 15px

input[type="range"]
    margin-top: 10px
    width: 80%
    padding: 0

.saveButton
    margin-top: 15px
    background: #007bff
    color: white
    border: none
    padding: 10px 15px
    border-radius: 6px
    cursor: pointer
    transition: background 0.3s ease

    &:hover
        background: #0056b3

.profile
    display: flex
    justify-content: left
    align-items: center
    width: 100%
    gap: 40px

.otherBlock
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    width: 90%
    margin-top: 0 auto
    border-radius: 16px
    gap: 25px
    padding: 24px 0px
    background: #fff
    transition: background 0.3s ease

    .divider
        border-radius: 8px
        width: 1px
        height: 65px
        background: linear-gradient(180deg, rgba(234, 234, 234, 0.1) 0%, #eaeaea 50%, rgba(234, 234, 234, 0.1) 100%)
        transition: background 0.3s ease

    .other
        display: flex
        align-items: center
        justify-content: center
        gap: 10px
        flex-direction: column
        p
            font-family: "Inter", sans-serif
            font-weight: 500
            font-size: 12px
            line-height: 96%
            letter-spacing: -0.02em
            text-align: center
            color: #2d2e2f
            transition: color 0.3s ease

.company
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    width: 90vw
    border-radius: 16px
    padding: 10px
    box-shadow: 0 0 55px -20px rgba(37, 52, 73, 0.05)
    background: #fff
    transition: background 0.3s ease, box-shadow 0.3s ease

    .companyTop
        display: flex
        align-items: center
        justify-content: flex-start
        gap: 10px
        width: 100%
        padding: 10px
        .companyName
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center

            .comp
                font-family: "Inter", sans-serif
                font-weight: 500
                font-size: 14px
                line-height: 96%
                letter-spacing: -0.02em
                color: #575859
                transition: color 0.3s ease

            .name
                font-family: "Inter", sans-serif
                font-weight: 600
                font-size: 16px
                line-height: 96%
                letter-spacing: -0.02em
                color: #2d2e2f
                transition: color 0.3s ease

.companyBottom
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
    padding: 10px

    .companyBottomButton
        border-radius: 10px
        height: 55px
        width: 100%
        background: #356dbb
        font-family: "Inter", sans-serif
        font-weight: 500
        font-size: 16px
        line-height: 96%
        letter-spacing: -0.02em
        color: #fff
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px
        cursor: pointer
        &:hover
            background: #25549b
        .plusik
            margin-left: 20px
            border-radius: 100px
            width: 38px
            height: 38px
            background: rgba(255, 255, 255, 0.08)
            font-weight: 500
            font-size: 16px
            display: flex
            justify-content: center
            align-items: center

.icon
    display: flex
    align-items: center
    gap: 10px
    margin-left: 10px

.str
    color: #dadada

.name
    border: none
    font-size: 18px
    font-weight: 500
    outline: none
    padding: 0

.role
    color: #696969
    font-size: 14px

.idTelega
    font-family: "Inter", sans-serif
    font-weight: 500
    font-size: 12px
    line-height: 96%
    letter-spacing: -0.02em
    color: #fff
    opacity: 0.6
    text-align: left

.profileIcon
    position: relative
    width: 64px
    height: 64px
    object-fit: cover
    border-radius: 50%

.themeToggle
    margin-top: 10px
    display: flex
    align-items: center
    font-size: 14px

.switch
    position: relative
    display: inline-block
    width: 50px
    height: 24px

.switch input
    opacity: 0
    width: 0
    height: 0

.slider
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: #ccc
    transition: background-color 0.3s ease, transform 0.3s ease
    border-radius: 24px

.slider:before
    position: absolute
    content: ""
    height: 18px
    width: 18px
    left: 3px
    bottom: 3px
    background-color: white
    transition: transform 0.3s ease
    border-radius: 50%

input:checked + .slider
    background-color: #21f32f

input:checked + .slider:before
    transform: translateX(26px)

.dark
    .slider
        background-color: #555 // более темный фон для переключателя
    input:checked + .slider
        background-color: #0d6efd // можно изменить под свои нужды

.themeChanger
    width: 90%
    border-radius: 15px
    background: #ffffff
    display: flex
    flex-direction: column
    transition: background 0.3s ease

    .dark &  // для темной темы, если контейнер находится внутри .dark
        background: #1e1e1e

    .change
        padding: 10px
        margin-left: 10px
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: row

/* Стили для оверлея модального окна (тёмная тема) */
.dark-modal
    background-color: rgba(18, 18, 18, 0.9)
    color: #f5f5f5
    display: flex
    align-items: center
    justify-content: center
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1000

    & .modal-content
        background-color: #121212
        padding: 2rem
        border-radius: 8px
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
        width: 90%
        max-width: 500px
        position: relative

    & .close-btn
        position: absolute
        top: 10px
        right: 10px
        background: none
        border: none
        font-size: 1.5rem
        color: #f5f5f5
        cursor: pointer

    & .create-form
        display: flex
        flex-direction: column

    & .create-form .form-group
        margin-bottom: 1rem

    & .create-form .form-group label
        display: block
        margin-bottom: 0.5rem
        font-weight: 500

.dark-modal .create-form .form-group input,
.dark-modal .create-form .form-group textarea,
.dark-modal .create-form .form-group select
    width: 100%
    padding: 0.5rem
    border: 1px solid #333
    border-radius: 4px
    background-color: #1e1e1e
    color: #f5f5f5

.dark-modal .create-form .checkbox-group
    display: flex
    gap: 1rem
    align-items: center
    margin-bottom: 1rem

    & label
        display: flex
        align-items: center
        gap: 0.25rem

.dark-modal .create-form .submit-btn
    background-color: #bb86fc
    border: none
    color: #f5f5f5
    padding: 0.75rem
    border-radius: 4px
    cursor: pointer
    transition: background-color 0.2s ease

    &:hover
        background-color: #a56de7

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    display: flex
    align-items: center
    justify-content: center
    z-index: 999
    padding: 10px
    overflow: hidden

.warn
    width: 100%
    justify-content: center
    align-items: center
    font-size: 10px
    text-align: center
    margin-top: 10px
    color: #a7a7a7

.extraServices
    display: flex
    flex-direction: column
    gap: 5px

.popupCalculator
    background-color: #fff
    padding: 24px
    border-radius: 16px
    width: 100%
    max-width: 400px
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1)
    display: flex
    flex-direction: column
    gap: 16px
    transition: all 0.3s ease
    position: relative
    .closeBtn
        background: none
        border: none
        font-size: 22px
        position: absolute
        top: 20px
        right: 20px
        cursor: pointer

.title
    font-size: 20px
    font-weight: 600
    margin-bottom: 8px

.selects
    display: flex
    justify-content: center
    align-items: center
    gap: 10px

.field
    display: flex
    flex-direction: column
    gap: 6px

label
    font-size: 14px
    font-weight: 500
    color: #333

input
    padding: 10px 14px
    font-size: 14px
    border: 1px solid #ccc
    border-radius: 8px
    transition: 0.2s ease
    &:focus
        border-color: #3b82f6
        outline: none

.calculateBtn
    background-color: #3b82f6
    color: white
    padding: 12px
    font-weight: 500
    border: none
    border-radius: 8px
    cursor: pointer
    transition: 0.2s ease
    &:hover
        background-color: #2563eb

.result
    font-size: 15px
    line-height: 1.4
    margin-top: 8px
    p
        margin: 0

.dark
    .popupCalculator
        background-color: #1e1e1e
        color: #fff

    .field label
        color: #ccc

    .field input
        background-color: #2b2b2b
        color: #fff
        border: 1px solid #444

    .calculateBtn
        background-color: #4f46e5
        &:hover
            background-color: #4338ca

.profileBottom
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center

    .actions
        display: flex
        gap: 10px

        .action
            border-radius: 100px
            width: 44px
            height: 44px
            display: flex
            align-items: center
            justify-content: center
            background: rgba(255, 255, 255, 0.08)

    .idTelega
        padding-top: 20px
        font-family: "Inter", sans-serif
        font-weight: 500
        font-size: 12px
        line-height: 96%
        letter-spacing: -0.02em
